html{
    width: 100%;
}
body{
    padding : 0px;
    margin:0px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color: #1F2937;
    color : white;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.container{
    width : 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    flex: 4;
    font-size: 25px;
    font-weight: 700;
    color: #e5e7eb;
}
.links{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.link{
    flex:auto;
    margin : 10px;

}
.link > a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}


.main{
    background-color: #1F2937;
    color : white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 100%;
}
.maincontainer{
    width : 80%;
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    margin-bottom: 10%;
}
.maincontainer > .info{
    flex:2;
    width: 10px;
}
.info > .heading{
    font-size: 48px;
    color: #f9faf8;
}
.info > p{
    font-size: 18px;
    color: #e5e7eb;
}
.info > .button{
    background-color: #3882f6;
    border : 0px;
    color: white;
    border-radius: 10px;
    width : 100px;
    height : 40px;
    font-size: 15px;
    font-weight: 700;
}
.image{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content:end;
}

.random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.random > h1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.randcontain{
    display: flex;
    flex-direction: row;
}

.card{
    width:  200px;
    height: auto;
    margin: 50px; 
    flex :1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.card > img{
    border: 3px solid #3882f6;
    border-radius: 20px;
}
.card > p{
    text-align: center;
    color: #757575;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qcont{
    width: 70%
}
.quotecontent{
    padding: 50px;
    font-style: italic;
    font-size: 36px;
    color : #3b495e;
    font-weight: 400;

}
.name{
    text-align: end;
    font-weight: 900;
    font-size: 25px;
    color : #1f2937;
}
.footer{
    width: 100%;
    background-color: #1F2937;
    padding : 100px 200px;
    box-sizing: border-box;
}
.footer > .content{
    color:#e5e7eb;
    text-align: center;
}

.call{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.actionCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width : 40%;
    padding:50px 100px;
    border-radius: 30px;
}
.callInfo{
    flex: 4;
    color: #e5e7eb
}
.callInfo > h1{

}
.callButton{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;

}
.callButton > button{
    padding: 15px 25px;
    background-color: #3882f6;
    border: 3px solid #e5e7eb;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: large;
    font-weight: 700;
}